.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    width: 12rem;
}

.header-left .logo{
    height: 3rem;
}

.header-left .header-title{
    font-size: 1.3rem;
    font-weight: bolder;
}

.header-right{
    border: none;
}

.header-right button{
    border: 1px solid red;
    cursor: pointer;
    padding: 8px 30px;
    background-color: rgb(255, 182, 182);
    font-weight: bold;
    color: red;
    border-radius: 0px;
}