.login-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.login-container .login-form {
  flex-direction: column;
}

.user-input {
  margin: 2em;
}

.user-input input {
  width: 12em;
}

.btn {
  margin: 1em;
}

.btn button:hover {
  cursor: pointer;
}

.forgot-password {
  margin: 1em;
  text-decoration: underline;
  font-weight: bold;
  font-size: small;
}

.new-user {
  margin: 1em;
  text-decoration: underline;
  font-weight: bold;
}
